name: npm build, lint, test and publish
jobs:
  build-and-publish:
    name: build and publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: npm install
        uses: actions/npm@master
        with:
          args: install
      - name: npm lint
        uses: actions/npm@master
        with:
          args: run eslint
      - name: docker build
        uses: actions/docker/cli@master
        with:
          args: build -t 9e3u2f0b1/st-template:latest .
      - name: docker login
        uses: actions/docker/login@master
        env:
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      - name: docker push
        uses: actions/docker/cli@master
        with:
          args: push 9e3u2f0b1/st-template:latest
